<img src="juke.svg" class="logo">
  <section>
    <h4 ui-sref-active="active" class="menu-item active">
      <a ui-sref="albums">ALBUMS</a>
    </h4>
  </section>
  <section>
    <h4 ui-sref-active="active" class="menu-item">
      <a ui-sref="artists">ARTISTS</a>
    </h4>
  </section>
  <hr>
  <section ng-controller="PlaylistsCtrl">
    <h4 class="text-muted">PLAYLISTS</h4>
    <p ui-sref-active="active" ng-repeat="playlist in playlists" class="menu-item">
      <a ui-sref="playlist({playlistId: playlist.id })">
        {{ playlist.name }}
      </a>
    </p>
    <p>
      <a ui-sref="newPlaylist" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-plus"></span> PLAYLIST</a>
    </p>
  </section>