<div ng-show="getCurrentSong()" ng-controller="PlayerCtrl">
  <div class="pull-left">
    <button class="btn btn-default" ng-click="previous()">
      <span class="glyphicon glyphicon-step-backward"></span>
    </button>
    <button class="btn btn-default" ng-click="toggle()">
      <span class="glyphicon" ng-class="{'glyphicon-pause': isPlaying(), 'glyphicon-play': !isPlaying()}"></span>
    </button>
    <button class="btn btn-default" ng-click="next()">
      <span class="glyphicon glyphicon-step-forward"></span>
    </button>
  </div>
  <div class="bar">
    <div class="progress" ng-click="handleProgressClick($event)">
      <div class="progress-bar" ng-style="{width: getPercent() + '%'}"></div>
    </div>
  </div>
</div>